.img {
    width: 100%;
    margin-bottom: 18%;
}

.container {
    min-height: 100%;
    width: 100%;
}

.card-picture {
    width: 23%;
    margin-bottom: 2%;
}

.search-form {
    width: 90%;
}

mat-icon {
    cursor: pointer;
    margin-bottom: 1rem;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}