<mat-toolbar fxLayout="column wrap" fxLayoutGap="10px" class="symfony-main-toolbar" color="primary">
    <a href="/">{{title}}</a>
</mat-toolbar>
<div fxLayout="column wrap" class="content">
    <router-outlet></router-outlet>
</div>
<mat-toolbar fxLayout="column wrap" fxLayoutGap="10px" color="primary" class="footer-toolbar">
    <div class="spacer"></div>
    <div>
        <h6><a href="https://www.linkedin.com/in/chathura-ruwan-gawarammana-6455bb30/" target="_blank" style="color:white;"> Solution by Chathura Ruwan Bandara Gawarammana</a></h6>
    </div>
</mat-toolbar>