.close-button {
    float: right;
    top: -15px;
    right: -15px;
}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

 ::ng-deep .icon-outside .close-button {
    float: right;
}

 ::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}